.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/workspace.xml
aqua.spec
path.bin
build
/build/
/build/*
path.bin
/build/aqua/
color.bin
/build/aqua/*
/venv/
/venv/*
/Scripts/
/Scripts/*