.idea/**/workspace.xml
.idea/**/tasks.xml
../.idea/workspace.xml
aqua.spec
conf/path.bin
wanabi/conf
wanabi/conf/*
wanabi/build
/wanabi/build/
/wanabi/build/*
/wanabi/build/aqua/
color.bin
/wanabi/build/aqua/*
/venv/*
/Scripts/
/Scripts/*
venv
/venv/
aqua.zip
localdeploy.bat
/wanabi/dist/aqua.exe
setup.cfg
setup.py
/.idea/misc.xml
/.idea/WriteAndWrite.iml
.idea/*
/wanabi/conf/path.bin
/wanabi/conf/debug_enable.txt
/pypipkg
/pypipkg/*